html, body, :root {
  overflow-x: hidden; 
}
body {
  margin: 0;
}
html, body{
  height: 100%;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #FFFFFF;
  font-synthesis: none;
  margin: 0 0.5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


